# Getting protein name and other synonyms

## Source: uniprot

In [1]:
#import library
import pandas as pd
import re

In [ ]:
#install the library if you don't have it
!pip install bioservices
from bioservices import UniProt

In [3]:
#read csv file into dataframe
kinase_df = pd.read_csv('clean_human_kinase.csv', index_col=0)
kinase_df.tail()

,gene_name,uniprot_identifier,uniprot_number
family,,,
Atypical: PI3/PI4-kinase family,PRKDC,PRKDC_HUMAN,P78527
Atypical: PI3/PI4-kinase family,SMG1,SMG1_HUMAN,Q96Q15
Atypical: RIO-type Ser/Thr kinase family,RIOK1,RIOK1_HUMAN,Q9BRS2
Atypical: RIO-type Ser/Thr kinase family,RIOK2,RIOK2_HUMAN,Q9BVS4
Atypical: RIO-type Ser/Thr kinase family,RIOK3,RIOK3_HUMAN,O14730

In [7]:
#unprocessed uniprot_number
unprocessed_list = kinase_df['uniprot_number'].tolist()
unprocessed_list[:10]

['P31749',
 'P31751',
 'Q9Y243',
 'Q5VT25',
 'Q9Y5S2',
 'Q6DT37',
 'O14578',
 'Q09013',
 'Q15835',
 'P25098']

In [8]:
#turn gene name into a list
up_num_list = kinase_df['uniprot_number'].str.rstrip().tolist() #rstrip to remove the white spaces
up_num_list

['P31749',
 'P31751',
 'Q9Y243',
 'Q5VT25',
 'Q9Y5S2',
 'Q6DT37',
 'O14578',
 'Q09013',
 'Q15835',
 'P25098',
 'P35626',
 'P32298',
 'P34947',
 'P43250',
 'Q8WTQ7',
 'O95835',
 'Q9NRM7',
 'Q9Y2H9',
 'Q6P0Q8',
 'O60307',
 'O15021',
 'Q96GX5',
 'O15530',
 'Q6A1A2',
 'Q16512',
 'Q16513',
 'Q6P5Z2',
 'P17612',
 'P22694',
 'P22612',
 'P17252',
 'P05771',
 'Q05655',
 'Q02156',
 'P05129',
 'P24723',
 'P41743',
 'Q04759',
 'Q05513',
 'Q13976',
 'Q13237',
 'P51817',
 'O43930',
 'Q13464',
 'O75116',
 'Q15418',
 'Q15349',
 'P51812',
 'O75676',
 'O75582',
 'Q9UK32',
 'P23443',
 'Q9UBS0',
 'O00141',
 'Q9HBY8',
 'Q96BR1',
 'Q15208',
 'Q9Y2H1',
 'Q8TDC3',
 'Q8IWQ3',
 'Q14012',
 'Q8IU85',
 'Q96NX5',
 'Q9UQM7',
 'Q13554',
 'Q13557',
 'Q13555',
 'Q16566',
 'Q8NCB2',
 'O14936',
 'O14757',
 'O96017',
 'P53355',
 'Q9UIK4',
 'O43293',
 'O15075',
 'Q8N568',
 'Q9C098',
 'P57058',
 'O60229',
 'P49137',
 'Q16644',
 'Q8IW41',
 'Q9P0L2',
 'Q7KZI7',
 'P27448',
 'Q96L34',
 'Q14680',
 'Q9BUB5',
 'Q9HBH9',
 'Q15746',
 'Q9H1R3',
 'Q32MK0',
 'Q86YV6',
 'Q8IY84',
 'O60285',
 'Q9H093',
 'Q5VST9',
 'Q96RG2',
 'Q16816',
 'P15735',
 'P11309',
 'Q9P1W9',
 'Q86V86',
 'Q6P2M8',
 'Q13131',
 'P54646',
 'Q15139',
 'Q9BZL6',
 'O94806',
 'P11801',
 'Q96QS6',
 'P57059',
 'A0A0B4J2F2',
 'Q9H0K1',
 'Q9Y2K2',
 'Q9NRH2',
 'Q15772',
 'Q15831',
 'Q9UEE5',
 'O94768',
 'Q9BYT3',
 'Q8N2I9',
 'Q96RU8',
 'Q92519',
 'Q96RU7',
 'O75962',
 'Q9BXA7',
 'Q96PF2',
 'Q96PN8',
 'Q6SA08',
 'Q9BXA6',
 'Q8WZ42',
 'P48729',
 'Q8N752',
 'P48730',
 'P49674',
 'Q9HCP0',
 'P78368',
 'Q9Y6M4',
 'Q5TCY1',
 'Q6IQ55',
 'Q99986',
 'Q86Y07',
 'Q8IV63',
 'P06493',
 'Q15131',
 'Q9UQ88',
 'P21127',
 'Q9NYV4',
 'Q14004',
 'O94921',
 'Q96Q40',
 'Q00536',
 'Q00537',
 'Q07002',
 'Q9BWU1',
 'P24941',
 'Q8IZL9',
 'Q00526',
 'P11802',
 'Q00535',
 'Q00534',
 'P50613',
 'P49336',
 'P50750',
 'Q00532',
 'Q92772',
 'Q8IVW4',
 'Q5MAI5',
 'O76039',
 'P49759',
 'P49760',
 'P49761',
 'Q9HAZ1',
 'Q13627',
 'Q9Y463',
 'Q92630',
 'O43781',
 'Q9NR20',
 'P49840',
 'P49841',
 'Q86Z02',
 'Q9H2X6',
 'Q9H422',
 'Q8NE63',
 'Q9UPZ9',
 'P20794',
 'P28482',
 'P53779',
 'Q15759',
 'P53778',
 'O15264',
 'Q16539',
 'Q8TD08',
 'P27361',
 'P31152',
 'Q16659',
 'Q13164',
 'P45983',
 'P45984',
 'Q9UQ07',
 'Q9UBE8',
 'Q13523',
 'Q96SB4',
 'P78362',
 'Q9UPE1',
 'Q96PY6',
 'Q6ZWH5',
 'Q8NG66',
 'P51955',
 'P51956',
 'P51957',
 'Q6P3R8',
 'Q9HC98',
 'Q8TDX7',
 'Q86SG6',
 'Q8TD19',
 'P25092',
 'Q02846',
 'P51841',
 'P16066',
 'P20594',
 'Q02750',
 'P36507',
 'P46734',
 'P45985',
 'Q13163',
 'P52564',
 'O14733',
 'Q13233',
 'Q02779',
 'Q16584',
 'Q12852',
 'O43283',
 'Q99558',
 'Q6ZN16',
 'Q56UN5',
 'Q9Y2U5',
 'Q9NYL2',
 'Q5TCX8',
 'Q99759',
 'Q9Y6R4',
 'Q99683',
 'O95382',
 'O43318',
 'P41279',
 'P80192',
 'Q92918',
 'Q12851',
 'Q8IVH8',
 'O95819',
 'Q9Y4K4',
 'Q8N4C8',
 'Q8NEV4',
 'Q8WXR4',
 'Q7Z2Y5',
 'O95747',
 'Q13153',
 'Q13177',
 'O75914',
 'O96013',
 'Q9P286',
 'Q9NQU5',
 'Q96KB5',
 'Q9H2G2',
 'O94804',
 'Q9Y6E0',
 'O00506',
 'Q9P289',
 'Q13188',
 'Q9UEW8',
 'Q13043',
 'Q7RTN6',
 'Q9C0K7',
 'Q7L7X3',
 'Q9UL54',
 'Q9H2K8',
 'Q9UKE5',
 'Q04771',
 'P36896',
 'Q8NER5',
 'P27037',
 'Q13705',
 'P37023',
 'Q16671',
 'Q8NFD2',
 'P10398',
 'P36894',
 'O00238',
 'Q13873',
 'P15056',
 'Q13418',
 'P51617',
 'O43187',
 'Q9Y616',
 'Q9NWZ3',
 'Q8IVT5',
 'Q6VAB6',
 'P53667',
 'P53671',
 'Q38SD2',
 'Q5S007',
 'P04049',
 'Q13546',
 'O43353',
 'Q9Y572',
 'P57078',
 'Q15569',
 'Q96S53',
 'P36897',
 'P37173',
 'Q59H18',
 'Q6ZMQ8',
 'P00519',
 'P42684',
 'Q9UM73',
 'P30530',
 'P51451',
 'P51813',
 'Q06187',
 'P07333',
 'P41240',
 'Q08345',
 'Q16832',
 'P00533',
 'P21709',
 'Q5JZY3',
 'P29317',
 'P29320',
 'P54764',
 'P54756',
 'Q9UF33',
 'Q15375',
 'P29322',
 'P54762',
 'P29323',
 'P54753',
 'P54760',
 'O15197',
 'P04626',
 'P21860',
 'Q15303',
 'P16591',
 'P07332',
 'P11362',
 'P21802',
 'P22607',
 'P22455',
 'P09769',
 'P17948',
 'P36888',
 'P35916',
 'P42685',
 'P06241',
 'P08631',
 'P08069',
 'P06213',
 'P14616',
 'Q08881',
 'P23458',
 'O60674',
 'P52333',
 'P35968',
 'P10721',
 'P06239',
 'Q8IWU2',
 'Q96Q04',
 'P29376',
 'P07948',
 'P42679',
 'Q12866',
 'P08581',
 'Q04912',
 'O15146',
 'P04629',
 'Q16620',
 'Q16288',
 'P16234',
 'P09619',
 'Q05397',
 'Q14289',
 'Q13882',
 'Q13308',
 'P07949',
 'Q01973',
 'Q01974',
 'P08922',
 'P34925',
 'P12931',
 'Q9H3Y6',
 'Q6J9G0',
 'P43405',
 'P42680',
 'Q02763',
 'P35590',
 'Q13470',
 'Q07912',
 'P42681',
 'P29597',
 'Q06418',
 'P07947',
 'P43403',
 'Q2M2I8',
 'O14965',
 'Q96GD4',
 'Q9UQB9',
 'Q9NSY1',
 'O43683',
 'O60566',
 'Q8N5S9',
 'Q96RR4',
 'O00311',
 'O15111',
 'P68400',
 'P19784',
 'Q8NEV1',
 'Q6XUX3',
 'Q9BQI3',
 'P19525',
 'Q9NZJ5',
 'Q9P2K8',
 'O75460',
 'Q76MJ5',
 'O14976',
 'Q8TF76',
 'O14920',
 'Q14164',
 'Q8NB16',
 'P00540',
 'Q9UHY1',
 'Q9NSY0',
 'Q58A45',
 'Q8N165',
 'Q9H792',
 'Q99570',
 'Q9BXM7',
 'Q504Y2',
 'Q99640',
 'P53350',
 'Q9NYY3',
 'Q9H4B4',
 'O00444',
 'Q496M5',
 'Q9H5K3',
 'Q86YV5',
 'Q7Z7A4',
 'Q05823',
 'Q96S38',
 'Q9Y6S9',
 'Q96LW2',
 'Q52WX2',
 'P0C263',
 'P0C264',
 'Q96KG9',
 'Q6P3W7',
 'Q8IZE3',
 'O75716',
 'Q9BXU1',
 'Q8WU08',
 'Q9NY57',
 'Q86UX6',
 'Q8TDR2',
 'Q9NRP7',
 'Q8NE28',
 'Q8TEA7',
 'Q9UHD2',
 'Q8IWB6',
 'Q9UKI8',
 'Q86UE8',
 'Q96S44',
 'P33981',
 'Q8TAS1',
 'O75385',
 'Q8IYT8',
 'Q6PHR2',
 'Q96C45',
 'P30291',
 'P0C1S8',
 'Q9H4A3',
 'Q9Y3S1',
 'Q9BYP7',
 'Q96J92',
 'Q86TW2',
 'Q7Z695',
 'Q3MIX3',
 'Q8NI60',
 'Q96D53',
 'Q96QP1',
 'Q86TB3',
 'Q96L96',
 'O00418',
 'Q9BX84',
 'Q96QT4',
 'Q14296',
 'O14874',
 'Q15118',
 'Q15119',
 'Q15120',
 'Q16654',
 'Q13315',
 'Q13535',
 'P42345',
 'P42336',
 'P42338',
 'O00329',
 'P48736',
 'P78527',
 'Q96Q15',
 'Q9BRS2',
 'Q9BVS4',
 'O14730']

In [13]:
#using bioservices
u = UniProt(verbose=False)
u.search("id:P31751", limit=1, columns="id,protein names,entry name")

'Entry\tProtein names\tEntry name\nP31751\tRAC-beta serine/threonine-protein kinase (EC 2.7.11.1) (Protein kinase Akt-2) (Protein kinase B beta) (PKB beta) (RAC-PK-beta)\tAKT2_HUMAN\n'

In [18]:
#split the output by multiple seps
example = u.search("id:Q5VT25", limit=1, columns="id,protein names, genes(PREFERRED), genes, entry name")
re.split('\t|\n', example)

['Entry',
 'Protein names',
 'Gene names  (primary )',
 'Gene names',
 'Entry name',
 'Q5VT25',
 'Serine/threonine-protein kinase MRCK alpha (EC 2.7.11.1) (CDC42-binding protein kinase alpha) (DMPK-like alpha) (Myotonic dystrophy kinase-related CDC42-binding kinase alpha) (MRCK alpha) (Myotonic dystrophy protein kinase-like alpha)',
 'CDC42BPA',
 'CDC42BPA KIAA0451',
 'MRCKA_HUMAN',
 '']

In [19]:
#retrieve the protein names
ex_str = re.split('\t|\n', example)
ex_str[6].split('(')[0].rstrip()

'Serine/threonine-protein kinase MRCK alpha'

In [20]:
#create a function to get the uniprot_number, gene_name, protein_name, gene_aliases
def get_meta(uniprot_num):
    """
    Takes in a uniprot number.
    Returns the uniprot_number, gene_name, protein_name, gene_aliases as a tuple.
    """
    query = "id:{}".format(uniprot_num)
    output = u.search(query, limit=1, columns="id,protein names, genes(PREFERRED), genes, entry name")
    tmp = re.split('\t|\n', output)
    protein_name = tmp[6].split('(')[0].rstrip()
    gene_name = tmp[7]
    gene_aliases = tmp[8].split()
    uniprot_entry = tmp[9]
    return(uniprot_num, gene_name, protein_name, gene_aliases, uniprot_entry)
get_meta('Q5VT25')

('Q5VT25',
 'CDC42BPA',
 'Serine/threonine-protein kinase MRCK alpha',
 ['CDC42BPA', 'KIAA0451'],
 'MRCKA_HUMAN')

In [21]:
#get all the protein names
total = []
unavailable = []
for num in up_num_list:
    tmp = get_meta(num)
    if len(tmp) < 5:
        unavailable.append(num)
    else:
        total.append(tmp)
print(len(unavailable))
print(total[:5])

0
[('P31749', 'AKT1', 'RAC-alpha serine/threonine-protein kinase', ['AKT1', 'PKB', 'RAC'], 'AKT1_HUMAN'), ('P31751', 'AKT2', 'RAC-beta serine/threonine-protein kinase', ['AKT2'], 'AKT2_HUMAN'), ('Q9Y243', 'AKT3', 'RAC-gamma serine/threonine-protein kinase', ['AKT3', 'PKBG'], 'AKT3_HUMAN'), ('Q5VT25', 'CDC42BPA', 'Serine/threonine-protein kinase MRCK alpha', ['CDC42BPA', 'KIAA0451'], 'MRCKA_HUMAN'), ('Q9Y5S2', 'CDC42BPB', 'Serine/threonine-protein kinase MRCK beta', ['CDC42BPB', 'KIAA1124'], 'MRCKB_HUMAN')]

In [22]:
#convert the list into dataframe
meta_df = pd.DataFrame(total, columns=['Uniprot_number','Gene_name','Protein_name','Gene_aliases', 'Uniprot_entry'])
meta_df.head()

,Uniprot_number,Gene_name,Protein_name,Gene_aliases,Uniprot_entry
0,P31749,AKT1,RAC-alpha serine/threonine-protein kinase,"[AKT1, PKB, RAC]",AKT1_HUMAN
1,P31751,AKT2,RAC-beta serine/threonine-protein kinase,[AKT2],AKT2_HUMAN
2,Q9Y243,AKT3,RAC-gamma serine/threonine-protein kinase,"[AKT3, PKBG]",AKT3_HUMAN
3,Q5VT25,CDC42BPA,Serine/threonine-protein kinase MRCK alpha,"[CDC42BPA, KIAA0451]",MRCKA_HUMAN
4,Q9Y5S2,CDC42BPB,Serine/threonine-protein kinase MRCK beta,"[CDC42BPB, KIAA1124]",MRCKB_HUMAN

In [23]:
#turn the meta df into csv file
meta_df.to_csv('meta_names.csv', header=True, index=False)

The metadata is now available